/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Makes border-box properties */
*, *:before, *:after {
  box-sizing: border-box; }

/* Utilities */
.color-orange {
  color: #ff6c36; }

.color-peach {
  color: #fcb79b; }

.color-blue {
  color: #101e8e; }

.color-green {
  color: #7cdfa8; }

.vcenter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

/* Custom Styles Start Here */
html {
  font-size: 100%;
  line-height: 1.5em; }

html {
  -webkit-tap-highlight-color: transparent; }

html,
body {
  height: 100%; }

body {
  background: url(../img/bg-body.jpg) top center/cover no-repeat fixed #101e8e;
  color: #fff;
  font-family: freight-sans-pro, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center; }

::-moz-selection {
  background: #fff;
  color: #101e8e; }

::selection {
  background: #fff;
  color: #101e8e; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #fcb79b;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    color: #fb9369;
    text-decoration: none; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

p {
  margin: 0 0 1.5rem 0; }

h1,
h2,
h3 {
  font-family: freight-sans-compressed-pro, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum"; }

h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
  line-height: 3rem;
  margin: 0 0 1.5rem; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 80px;
      font-size: 5rem;
      line-height: 84px;
      line-height: 5.25rem; } }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin: 0 0 1.5rem;
  letter-spacing: 1px; }

h3 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 24px;
  line-height: 1.5rem;
  letter-spacing: 1px; }

/* Blockquote */
blockquote {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  border-left: 5px solid gray;
  color: gray;
  font-size: 20px;
  padding-left: 1.5rem; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer {
    display: block;
    font-size: 80%;
    line-height: 1.5; }
    blockquote footer:before {
      content: '\2014 \00A0'; }

abbr {
  border-bottom: 1px dotted gray;
  cursor: help; }

/* Emphasis and misc. */
cite,
em {
  font-style: italic; }

b,
strong {
  font-weight: 600; }

sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 25%;
  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline; }

sup {
  /* Move the superscripted text up */
  top: -1.5em; }

#main {
  height: 100%; }

.section {
  padding-bottom: 8%;
  padding-top: 4%;
  position: relative; }
  @media screen and (min-width: 768px) {
    .section {
      padding-top: 0; } }
  .section.section--last {
    padding-bottom: 0; }
  .section:before {
    content: "";
    width: 100%;
    height: 0;
    padding-bottom: 8%;
    margin-top: -4%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }

.container {
  max-width: 1140px;
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 8%;
  overflow: hidden;
  position: relative; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }
  .overlay .overlay-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%; }

.logo-y {
  background-image: url(../img/logo-y.png);
  background-image: url(../img/logo-y.svg);
  background-size: 200px 125px;
  background-repeat: no-repeat;
  margin: 0 auto 1.5rem;
  width: 200px;
  height: 125px; }
  .logo-y span {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }

.panel-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden; }

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: 2; }

.intro-arrow {
  position: fixed;
  z-index: 99;
  bottom: -25px;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  height: 120px; }

.intro-arrow_inner {
  background: url(../img/icon-arrow-bottom.svg) no-repeat 50% 50%;
  background-size: 43px 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.header {
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: 6; }

.logo-aiga-sd {
  background: url(../img/logo-aiga-san-diego.svg) no-repeat;
  background-size: 233px 60px;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 3; }
  .logo-aiga-sd span {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }

.banner {
  height: 500px;
  height: 100%;
  height: 100vh; }
  .banner .banner-content {
    padding: 0 1.69492%;
    width: 100%; }

.logo-distill {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: 250px; }

.cta {
  background-color: #fcb79b; }
  .cta:before {
    background-color: #fcb79b;
    -webkit-transform: skewY(4deg);
        -ms-transform: skewY(4deg);
            transform: skewY(4deg); }

.date {
  color: #101e8e;
  background-color: #fcb79b; }
  .date:before {
    background-color: #fcb79b;
    -webkit-transform: skewY(-4deg);
        -ms-transform: skewY(-4deg);
            transform: skewY(-4deg); }

@media screen and (min-width: 768px) {
  .info-block {
    width: 57.62712%;
    float: left; }
    .info-block:nth-child(1n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .info-block p {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem; } }

.speakers,
.sessions {
  background: url(../img/background-info.svg) 100% 50%/cover no-repeat #101e8e;
  text-align: left; }
  .speakers:before,
  .sessions:before {
    background-color: #101e8e;
    -webkit-transform: skewY(4deg);
        -ms-transform: skewY(4deg);
            transform: skewY(4deg); }

.footer {
  background: url(../img/background-footer.svg) 0% 0%/cover no-repeat #101e8e;
  color: #fcb79b; }
  .footer:before {
    background-color: #101e8e;
    -webkit-transform: skewY(4deg);
        -ms-transform: skewY(4deg);
            transform: skewY(4deg); }

ol,
ul {
  margin: 0 0 1.5rem 0;
  padding: 0;
  list-style: none; }
  ol ul,
  ol ol,
  ul ul,
  ul ol {
    margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

/* Definition Lists */
dl {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  overflow: hidden; }
  dl li {
    margin: 0 0 0.75rem 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.info-block-list li {
  margin-bottom: 0.75rem; }
.info-block-list span {
  display: block; }

.social-icons {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
  line-height: 2.25rem; }

.button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #ff6c36;
  border: 1px solid transparent;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 24px;
  font-family: freight-sans-compressed-pro, sans-serif;
  height: 54px;
  line-height: 18px;
  margin: 0 0 1.5rem;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none; }
  .button:hover, .button:focus, .button:active, .button.is-active, .button.active {
    text-decoration: none; }
  .button:hover, .button:focus {
    color: #ffffff;
    background-color: #ff4703; }
  .button:focus {
    outline: none; }

.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #eee;
  border: 1px solid #ddd;
  text-shadow: 0 1px 1px white;
  color: #ccc;
  cursor: default;
  -webkit-appearance: none; }

[role="button"] {
  cursor: pointer; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: semi-bold; }

input[type="search"] {
  box-sizing: border-box; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"]
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: white;
  background-image: none;
  border: 1px solid #d9d9d9;
  display: block;
  color: #d9d9d9;
  font-size: inherit;
  height: 35px;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  padding: 6px 12px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%; }
