#main {
  width: 100%;
  height: 100%;
}

.section {
  padding-bottom: 8%;
  padding-top: 4%;
  position: relative;
  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
  &.section--last {
    padding-bottom: 0;
  }
  &:before {
    content: "";
    width: 100%;
    height: 0;
    padding-bottom: 8%;
    margin-top: -4%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}

.container {
  @include container(1140px);
  padding: 8%;
  overflow: hidden;
  position: relative;
}

// Overlay and Animated Panels
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  .overlay-content {
    @include vcenterer;
    width: 100%;
  }
}

.logo-y {
  background-image: url(../img/logo-y.png);
  background-image: url(../img/logo-y.svg);
  background-size: 93px 100px;
  background-repeat: no-repeat;
  margin: 0 auto rhythm();
  width: 93px;
  height: 100px;
  span {
    @include visuallyhidden;
  }
}

.panel-wrap {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.intro-arrow {
  position: absolute;
  z-index: 99;
  bottom: -25px;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  height: 120px;
}

.intro-arrow_inner {
  background: url(../img/icon-arrow-bottom.svg) no-repeat 50% 50%;
  background-size: 43px 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

// Header
.header {
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: 6;
}

.logo-aiga-sd {
  background: url(../img/logo-aiga-san-diego.svg) no-repeat;
  background-size: 160px 60px;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 3;
  span {
    @include visuallyhidden;
  }
}

// Sections
.banner {
  height: 500px; // Fallback
  height: 100%;
  .banner-content {
    padding: 0 gutter();
    width: 100%;
  }
}

.logo-distill {
  margin: 0 auto;
  margin-bottom: rhythm();
  max-width: 250px;
}

.cta {
  background-color: $color-peach;
  &:before {
    background-color: $color-peach;
    transform: skewY(4deg);
  }
}

.date {
  color: $color-blue;
  background-color: $color-peach;
  &:before {
    background-color: $color-peach;
    transform: skewY(-4deg);
  }
}

.info-block {
  @media screen and (min-width: 768px) {
    @include gallery(4 of 12);
  }
}

.speakers {
  background:
    url(../img/background-info.svg)
    100% 100% / cover
    no-repeat $color-blue;
  text-align: left;
  &:before {
    background-color: $color-blue;
    transform: skewY(4deg);
  }
}

// Footer
.footer {
  background:
    url(../img/background-footer.svg)
    0% 0% / cover
    no-repeat $color-blue;
  color: $color-peach;
  &:before {
    background-color: $color-blue;
    transform: skewY(4deg);
  }
}