.section {
  padding-bottom: 8%;
  position: relative;
  &.section--last {
    padding-bottom: 0;
  }
}

.container {
  @include container(1140px);
  padding: 8% gutter();
  overflow: hidden;
  position: relative;
}

// Header
.header {
  height: 60px;
  position: relative;
}

.logo-aiga-sd {
  background: url(../img/logo-aiga-san-diego.svg) no-repeat;
  background-size: 160px 60px;
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  height: 60px;
  z-index: 3;
  span {
    @include visuallyhidden;
  }
}

// Sections
.banner {
  height: 106vh;
  text-align: center;
  .banner-content {
    margin-top: -60px;
    padding: 0 gutter();
    width: 100%;
  }
}

.info {
  background-color: $color-blue;
  &:before {
    background-color: $color-blue;
    content: "";
    width: 100%;
    height: 0;
    padding-bottom: 8%;
    margin-top: -4%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
  }
}

.date {
  color: $color-blue;
  background-color: $color-peach;
  text-align: center;
  &:before {
    content: "";
    background-color: $color-peach;
    width: 100%;
    height: 0;
    padding-bottom: 8%;
    margin-top: -4%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
  }
}

// wave pattern
.waves { 
  display: block;
  position: absolute;
  z-index: 1;
  overflow: visible;
  transform: rotate(-55deg);
  width: 100%;
  &.opposite {
    transform: rotate(0deg);
  }
}

// Lists
.info-list {
  li {
    margin-bottom: rhythm(1/2);
  }
  span {
    display: block;
  }
}

.label {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 140px);
  min-width: 200px;
  border-bottom: 1px dotted darken(#6febb1,25);
}

.price {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  max-width: 25%;
}

.logo-distill {
  margin: 0 auto;
  margin-bottom: rhythm();
  max-width: 250px;
}

.logo-y {
  background-image: url(../img/logo-y.svg);
  background-size: 79px 84px;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 79px;
  height: 84px;
  span {
    @include visuallyhidden;
  }
}

// Blocks
.info-block {
  @media screen and (min-width: 768px) {
    @include span(4 of 12);
    &:first-of-type {
      margin-left: span(2 of 12);
    }
  }
}

.info-block-list {
  li {
    margin-bottom: rhythm(1/2);
  }
  span {
    display: block;
  }
}

.footer {
  background-color: $color-peach;
  color: $color-blue;
  text-align: center;
  &:before {
    content: "";
    background-color: $color-peach;
    width: 100%;
    height: 0;
    padding-bottom: 8%;
    margin-top: -4%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
  }
  a {
    color: $color-blue;
    &:hover,
    &:focus {
      color: $color-blue;
    }
  }
}

// Triangles
.triangle {
  min-height: 200px;
}

.triangle-top {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
  &.triangle-top--peach {
    background-color: $color-peach;
  }
  &.triangle-top--blue {
    background-color: $color-blue;
  }
}

.triangle-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  &.triangle-bottom--peach {
    background-color: $color-peach;
  }
  &.triangle-bottom--blue {
    background-color: $color-blue;
  }
}

// Social Icons
.social-icons {
  @include adjust-font-size-to($font-size-h2);
}