// Color Classes
.color-orange {
  color: $color-orange;
}

.color-peach {
  color: $color-peach;
}

.color-blue {
  color: $color-blue;
}

.color-green {
  color: $color-green;
}

// Vertically Center
.vcenter {
  @include vcenterer;
}